/* Wrapper */
.wrapper {
    /*padding: 0.5rem 0 2rem 0;*/
    position: relative;
    margin-top: 4rem;
}

.wrapper > .inner {
    padding: 0 6rem 0 6rem;
    /*width: 90rem;*/
}

.wrapper > .smaller-inner {
    padding: 0 4rem 0 4rem;
    /*width: 90rem;*/
    margin-top: -2rem;
}

.wrapper.grey-style {
    background-color: #f2f2f2;
    color: #808080;
}

.wrapper.grey-style a {
    color: #000000;
}

.wrapper.grey-style strong, .wrapper.grey-style b {
    color: #000;
}

.wrapper.grey-style h1, .wrapper.grey-style h2, .wrapper.grey-style h3, .wrapper.grey-style h4, .wrapper.grey-style h5, .wrapper.grey-style h6 {
    color: #000;
}

.wrapper.grey-style blockquote {
    border-left-color: rgba(0, 0, 0, 0.15);
}

.wrapper.grey-style code {
    background: rgba(0, 0, 0, 0.075);
    border-color: rgba(0, 0, 0, 0.15);
}

.wrapper.grey-style hr {
    border-bottom-color: rgba(0, 0, 0, 0.15);
}

.wrapper.grey-style .box {
    border-color: rgba(0, 0, 0, 0.15);
}

.wrapper.grey-style {
    color: #999999 !important;
}
.wrapper.grey-style ul.alt li {
    border-top-color: rgba(0, 0, 0, 0.15);
}

.wrapper.grey-style header p {
    color: #999999;
}

.wrapper.grey-style header.common-header p.light {
    color: white;
}

.wrapper.grey-style header.common-header h2.light {
    color: #ececec;
    margin-bottom: 0;
}

.wrapper.grey-style header.common-header p.light.special:after {
    background-color: rgba(255, 255, 255, 0.41);
}

.wrapper.grey-style table tbody tr {
    border-color: rgba(0, 0, 0, 0.15);
}

.wrapper.grey-style table tbody tr:nth-child(2n + 1) {
    background-color: rgba(0, 0, 0, 0.075);
}

.wrapper.grey-style table th {
    color: #000;
}

/* 
.wrapper.grey-style table thead {
    border-bottom-color: color rgba(0, 0, 0, 0.15);
} */

.wrapper.grey-style table tfoot {
    border-top-color: rgba(0, 0, 0, 0.15);
}

.wrapper.grey-style table.alt tbody tr td {
    border-color: rgba(0, 0, 0, 0.15);
}

.centersixty {
    width: 60%;
    margin: auto;
}

/* padding2rem */
.padding2rem {
    padding: 2rem;
}

/* white background */
.white {
    background-color: #ffffff;
}

.shadow {
    box-shadow: 2px 2px 15px grey;
}

/* scrollex separator */
.separator {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom;
}

.background1 {
    background-image: url("../../images/design/separator1.jpg");
}

.background2 {
    background-image: url("../../images/design/separator3.jpg");
}

.background3 {
    background-image: url("../../images/design/slide1.jpg");
}

#scroll-to {
    margin-top: 0;
}

/* media screen */
@media screen and (max-width: 1280px) {
    .wrapper > .inner {
        padding: 0 3rem 0 3rem;
    }

    .wrapper > .smaller-inner {
        padding: 0 1rem 0 1rem;
        /*width: 90rem;*/
    }
}

@media screen and (max-width: 980px) {
    .wrapper > .inner {
        padding: 0 2rem 0 2rem;
    }

    .wrapper > .smaller-inner {
        padding: 0;
        /*width: 90rem;*/
    }

    .wrapper.grey-style {
        background-attachment: scroll;
    }

    .centersixty{
        width: 70%;
    }
    .separator {
        /*padding-bottom: 2rem;*/
        /*padding-top: 2rem;*/
    }
}

@media screen and (max-width: 736px) {
    .wrapper {
        /*padding: 1rem 0 1rem 0;*/
    }

    .centersixty{
        width: 75%;
    }

    .separator {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }

    .wrapper > .inner {
        padding: 0 1rem 0 1rem;
    }

    .wrapper > .smaller-inner {
        padding: 0;
        /*width: 90rem;*/
    }

    .padding2rem {
        padding: 1rem;
    }
}

@media screen and (max-width: 650px) {
    .wrapper {
        margin-top: 3rem;
    }
    .centersixty{
        width: 85%;
    }
}

@media screen and (max-width: 490px) {

    .centersixty{
        width: 90%;
    }
    .wrapper.grey-style table.alt tbody tr td {
        font-size: 14px;
    }

    .padding2rem {
        padding-left: 0.25rem;
        padding-right: 0.25rem;
    }

    .separator {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}

@media screen and (max-width: 480px) {
    .wrapper > inner {
        padding: 0 0.5rem 0 0.5rem;
    }

    .wrapper > .smaller-inner {
        /*width: 90rem;*/
    }
}

@media screen and (max-width: 450px) {

    .wrapper.grey-style table.alt tbody tr td {
        font-size: 12px;
    }
}

@media screen and (max-width: 430px) {
    .wrapper.grey-style table th {
        font-size: 0.8rem;
    }

    .wrapper.grey-style table.alt tbody tr td {
        font-size: 10px;
    }
}

@media screen and (max-width: 400px) {
    .wrapper.grey-style table th {
        font-size: 0.7rem;
    }

    .wrapper.grey-style table.alt tbody tr td {
        font-size: 9px;
    }
}

@media screen and (max-width: 345px) {
    .wrapper.grey-style table.alt tbody tr td {
        font-size: 8px;
    }
}

@media screen and (max-width: 330px) {
    .wrapper.grey-style table.alt tbody tr td {
        font-size: 7px;
    }
}