/* Box */
.box {
    margin-bottom: 4rem;
    background: #FFF;
}

.box .image.fit {
    margin: 0;
    border-radius: 0;
}

.box .image.fit img {
    border-radius: 0;
}

.box header h2 {
    margin-bottom: 2rem;
}

.box header p {
    text-transform: uppercase;
    font-size: .75rem;
    font-weight: 300;
    margin: 0 0 .25rem 0;
    padding: 0 0 .75rem 0;
    letter-spacing: .25rem;
}

.box header p:after {
    content: '';
    position: absolute;
    margin: auto;
    right: 0;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.125);
}

.box .content {
    padding: 2rem;
}

.box > :last-child,
.box > :last-child > :last-child,
.box > :last-child > :last-child > :last-child {
    margin-bottom: 0;
}

.box.alt {
    border: 0;
    border-radius: 0;
    padding: 0;
}

/* gallery */
.gallery {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    margin: auto;
}

.gallery > :nth-child(1) {
    margin-right: 4rem;
}

.gallery > :nth-child(1), .gallery > :nth-child(2) {
    width: calc(50% - 2rem);
}

.gallery > .flex > :last-child {
    margin-bottom: 0;
}

.gallery .image {
    /*background: #FFF;*/
}

.gallery .image.fit {
    margin: 0;
}

.gallery > div.flex {
    display: -moz-flex;
    flex-flow: column;
    flex-wrap: nowrap
}

@media screen and (max-width: 1200px) {
    .gallery {
        width: 90%;
    }

    .box {
        margin-bottom: 1rem;
    }

    .gallery > :nth-child(1) {
        margin-right: 1rem;
        width: calc(50% - 0.5rem);
    }

    .gallery > :nth-child(2) {
        width: calc(50% - 0.5rem);
    }
}

@media screen and (max-width: 980px) {
    .gallery {
        width: 100%;
    }
}

@media screen and (max-width: 736px) {
    .box .content {
        padding: 1rem;
    }
}

@media screen and (max-width: 650px) {
    .gallery > :nth-child(1), .gallery > :nth-child(2) {
        width: calc(100%);
        margin: 0;
    }
}